*/config/development
*/logs/log-*.php
*/logs/!index.html
*/cache/*
*/cache/!index.html
*/cache/!.htaccess
.sass-cache
/sys/
/app/
.idea/*
node_modules
*/.DS_Store
/htdocs
/build
/vendor
/ven
composer.lock
