# Kirby .htaccess

# rewrite rules
<IfModule mod_rewrite.c>

# enable awesome urls. i.e.:
# http://yourdomain.com/about-us/team
RewriteEngine on

# block all files in the app folder from being accessed directly
RewriteRule ^app/(.*) error [R=301,L]

# block all files in the sys folder from being accessed directly
RewriteRule ^sys/(.*) error [R=301,L]

# make panel links work
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule ^panel/(.*)$ panel/index.php/$1 [L]

# make site links work
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L]

</IfModule>


# Additional recommended values
AddDefaultCharset UTF-8
php_flag short_open_tag on